h2{
    color: #222B45;
}
.MuiInputBase-input{
    color: #6E7191;
}
.MuiInputBase-input::placeholder{
    color: #6E7191;
}
.custom-input{
    margin-left: 0;
}
.custom-input input{
    padding-left: 70px !important;
}
.custom-input .MuiOutLinedInput-root{
    padding-right: 0 !important;
}
