.notification-box{
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 24px 20px;
    border: 1px solid #D9DBE9;
    border-radius: 5px;
}
.notification-icon{
    /* width: 15%; */
    padding-right: 19px;
}
.notification-text{
    width: 85%;
}
.notification-text p{
    margin-bottom: 0px;
}
.card-buttons-grid{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.card-buttons-grid .lightbutton,
.card-buttons-grid .darkbutton{
    width: 48%;
    height: 48px;
    margin-bottom: 0;
}
.card-slection{
    position: relative;
    padding: 10px 10px 10px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.card-slection p{
    margin-bottom: 0px;
}
.card-slection .MuiCheckbox-root{
    position: absolute;
    right: 0;
    top: 0;
}
.card-slection.selection{
    background: #31B7B7;
}
.card-slection.selection p{
    color: #fff;
}
.card-slection.selection .MuiCheckbox-root{
    color: #fff;
}
.card-slider .MuiSlider-root{
    color:#31B7B7;
    height: 8px;  
    padding: 0px; 
    border-radius: 16px;
}
.card-slider .MuiSlider-track{
    border-radius: 16px;
}
.card-slider .MuiSlider-rail{
    color: #EFF0F7;
}
.card-slider .MuiSlider-thumb{
    display: none;
}
.card-slider-count{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    color: #31B7B7;
}


.time-wrapper{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.time-wrapper .select{
    width: 30%;
}
.time-wrapper .MuiSelect-select{
    padding: 10px 20px;
}
.time-wrapper .MuiFormControl-root{
    background: #F7F7FC;
    padding: 0px;
    width: 100%;
    border-radius: 15px;
}
.time-wrapper .MuiOutlinedInput-notchedOutline{
    border: 0px;
}
.time-wrapper .MuiOutlinedInput-root{
    border-radius: 15px;
}

.select-border .MuiOutlinedInput-root{
    border: 1px solid #31B7B7;
    width: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 15px;
}
.select-fill-color .MuiOutlinedInput-root{
    border: 1px solid #31B7B7;
    background-color: #31B7B7;
    padding: 0px;
    width: 100%;
    border-radius: 15px;
    color: #fff !important;
}

.placeholder{
    color: #ccc;
}
.date-card{
    width: 100%;
    max-width: 360px;
    background: #F7F7FC;
    box-shadow: 0px 8px 16px rgb(17 17 17 / 6%);
    border-radius: 16px;
    overflow: hidden;
}
.date-card .card-content{
    padding: 20px;
}
.date-card .card-content .MuiTypography-caption {
    color: #23274F;
    font-weight: 500;
}
.date-card .card-content .css-l0iinn{
    color: #23274F;
    font-weight: bold;
}
.date-card .card-content .MuiIconButton-sizeSmall{
    width: 30px;
    height: 30px;
    color: #23274F;
}
.date-card .PrivatePickersSlideTransition-root{
    min-height: 230px;
}
.date-card .MuiPickersDay-root,
.date-card .MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    border-radius: 6px;
    color: #23274F;
    font-weight: 500;
}
.date-card .Mui-disabled{
    color: #D9DBE9;
}
.date-card .MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.date-card .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover,
.date-card .Mui-selected{
    border-radius: 6px;
    background: #31B7B7 !important;
    color: #fff;
}
.select-fill-color .MuiOutlinedInput-root svg{
    fill: #fff;
}
.items-list .MuiPaper-root{
    background-color: #F7F7FC;
    border-radius: 15px;
    box-shadow:none;
    margin-bottom: 10px;
}
.items-list .MuiPaper-root.Mui-expanded{
    border: 2px solid #31B7B7;
}
.MuiAccordionSummary-content{
    margin: 0px;
}
.MuiAccordionSummary-root{
    min-height: 39px;
}
.items-list .MuiPaper-root:before{
    display: none;
}

.child-items{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.child-items .cart{
    width: 100px;
    display: inline-flex;
}
.child-items .MuiOutlinedInput-notchedOutline{
    border: none;
}
.child-items .cart-increase{
    min-width: 30px;
    width: 30px;
    background: #EFF0F7;
    height: 30px;
    border-radius: 50%;
}
.child-items .MuiInputBase-input{
    padding: 0px;
    height: 30px;
    text-align: center;
}

.search-box{
    background: #FFFFFF;
    border: 1px solid #A0A3BD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px 10px;
}
.search-box .MuiFormControl-roo{
    width: 100%;
}
.search-box .MuiOutlinedInput-notchedOutline{
    border: 0px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-23{
    margin-bottom: 23px;
}
.mb-26{
    margin-bottom: 26px;
}
.mb-31{
    margin-bottom: 31px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-52{
    margin-bottom: 52px;
}
.mb-61{
    margin-bottom: 61px;
}
.mb-71{
    margin-bottom: 71px;
}
.mb-132{
    margin-bottom: 132px;
}
.text-center{
    text-align: center;
}

@media (max-width: 991px){
    .date-card{
        margin: auto;
    }
}
.display-block{
    display: block;
}